body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

/* navbar */

.navbar{
    background-color: #555;
    width: 100%;
    overflow: auto;
}

.navbar a{
    padding: 12px;
}

/* navbar */



/* Banner */
isi kode disini
/* Banner */



/* Fitur keunggulan */
isi kode disini
/* Fitur keunggulan */



/* Deskripsi */
isi kode disini
/* Deskripsi */



/* Video */
isi kode disini
/* Video */



/* Tutorial */
isi kode disini
/* Tutorial */



/* Question */
isi kode disini
/* Question */



/* Artikel */
isi kode disini
/* Artikel */


/* Testimoni */
isi kode disini
/* Testimoni */


/* About */
isi kode disini
/* About */