body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
}

/* navbar */

.navbar{
    padding: 12px;
    display: flex;
    background-color:  #555;
}

.logos {
    float: left;
    width: 33.33%;
    text-align: center;
}

.page {
    float: left;
    width: 33.33%;
    text-align: center;
}

.page a{
    padding: 12px;
    color: white;
}

.signin {
    float: left;
    width: 33.33%;
    text-align: center;
}

.signin a{
    padding: 12px;
    color: white;
}

/* navbar */



/* Banner */
isi kode disini
/* Banner */



/* Fitur keunggulan */
isi kode disini
/* Fitur keunggulan */



/* Deskripsi */
isi kode disini
/* Deskripsi */



/* Video */
isi kode disini
/* Video */



/* Tutorial */
isi kode disini
/* Tutorial */



/* Question */
isi kode disini
/* Question */



/* Artikel */
isi kode disini
/* Artikel */


/* Testimoni */
isi kode disini
/* Testimoni */


/* About */
isi kode disini
/* About */