*{
  box-sizing: border-box;
}

body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
}

/* navbar */

nav{
  background: #0082e6;
  width: 100%;
  padding: 14px;
  position: sticky;
  display: flex;
}
label.logo{
  color: white;
  font-size: 35px;
  padding: 0 100px;
  font-weight: bold;
}
nav ul{
  float: right;
  margin-right: 20px;
}
nav ul li{
  display: inline-block;
  margin: 0 5px;
}
nav ul li a{
  color: white;
  font-size: 15px;
  padding: 7px 13px;
  border-radius: 3px;
  text-transform: uppercase;
}
a.active,a:hover{
  background: #1b9bff;
  transition: .5s;
}
.checkbtn{
  font-size: 30px;
  color: white;
  float: right;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}
#check{
  display: none;
}
@media (max-width: 952px){
  label.logo{
    font-size: 30px;
    padding-left: 10px;
  }
  nav ul li a{
    font-size: 16px;
  }
}
@media (max-width: 1010px){
  .checkbtn{
    display: block;
  }
  ul{
    position: fixed;
    width: 50%;
    height: 100vh;
    background: #2c3e50;
    left: -100%;
    text-align: center;
    transition: all .5s;
    margin-top: 47px;
  }
  nav ul li{
    display: block;
    margin: 50px 0 0 -40px;
    line-height: 30px;
  }
  nav ul li a{
    font-size: 20px;
  }
  a:hover,a.active{
    background: none;
    color: #0082e6;
  }
  #check:checked ~ ul{
    left: 0;
  }
}
/* navbar */



/* Banner */
.banner {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: #3498db;
  color: #fff;
  text-align: center;
  padding: 20px;
}

.text {
  display: block;
  padding: 20px;
}

.explore-button {
  background-color: #ff5733;
  color: #fff;
  padding: 10px 20px;
  font-size: 18px;
  border: none;
  cursor: pointer;
}

.image {
  display: block;
  padding: 20px;
}

@media (max-width: 870px) {
  .banner {
      flex-direction: row-reverse;
      grid-template-columns: 1fr; 
  }
}
/* Banner */



/* Fitur keunggulan */
.keunggulan{
  margin: 50px 50px 50px 50px;
}

.keunggulan h1{
  text-align: center;
}

.keunggulan .container{
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 10px;
  padding: 10px;
}

.keunggulan .container .card{
  padding: 20px;
}

.keunggulan .container > div {
  text-align: center;
  padding: 20px;
}

@media screen and (max-width: 870px) {
  .keunggulan .container {
    display: block;
    padding: 0;
  }
}
/* Fitur keunggulan */



/* Deskripsi */
.deskripsi{
  display: flex;
  justify-content: center;
}

.deskripsi .container{
  display: flex;
  gap: 10px;
  padding: 10px;
}

.deskripsi .container .left{
  text-align: right;
  width: 50%;
}
.deskripsi .container .right{
  display: flex;
  width: 50%;
}

.deskripsi .container .right .desc{
  display: flex;
  align-items: center;
}

.deskripsi .container .right .desc .text{
  width: 50%;
}

@media screen and (max-width: 870px) {
  .deskripsi .container {
    display: block;
    padding: 0;
  }
  .deskripsi .container .left{
    text-align: center;
    width: 100%;
  }
  .deskripsi .container .right{
    width: 100%;
  }
  .deskripsi .container .right .desc .text{
    text-align: center;
    width: 100%;
  }
}
/* Deskripsi */



/* Video */

/* Video */



/* Tutorial */

/* Tutorial */



/* Question */

/* Question */



/* Artikel */

/* Artikel */


/* Testimoni */
.testimoni h2{
  text-align: center;
  font-style: italic;
}

.testimoni p{
  text-align: center;
  font-style: italic;
}

.testimoni .column {
    width: 25%;
    display: inline-block;
    margin: 10px 20px 10px 20px;
  }
  
  /* Remove extra left and right margins, due to padding */
  .testimoni .row {
    margin: 0;
    padding: 20px;
    text-align: center;
}

  /* Clear floats after the columns */
  .testimoni .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive columns */
  @media screen and (max-width: 870px) {
    .testimoni .column {
      width: 80%;
      margin-bottom: 20px;
    }
  }
  
  /* Style the counter cards */
  .testimoni .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 20px;
    text-align: center;
    background-color: white;
    border-radius: 10px;
  }
/* Testimoni */


/* About */

/* About */